/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../node_modules/plyr/dist/plyr.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: var(--font-nunito);
  font-size: 20px;
  line-height: 1.8;
}

h1 {
  font-family: var(--font-nunito);
  font-weight: 800;
  @apply text-primary-content leading-normal lg:leading-normal text-5xl lg:text-7xl;
}

h2 {
  font-weight: 900;
  @apply text-secondary text-4xl my-2 leading-normal;
}

h3 {
  font-weight: 700;
  @apply text-base-content text-2xl my-2 leading-normal;
}

hr {
  border: 0;
  border-top: 6px solid;
  width: 40px;
  @apply border-secondary my-7;
}
